@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

:root {
  --primary: #20262E;
  --cloud: #f6f6f9;
  --milk: #dddddd;
  --amilk: #d8d8d8;
  --bmilk: #c5c5c5;
  --milkshake: #dce1eb;
  --grey: #8d8d8d;
  --agrey: #828282;
  --green: #00cc00;
  --agreen: #00ee00;
  --bgreen: #5cb85c;
  --yell: #ffcc00;
  --ayell: #ffbb55;
  --byell: #f0ad4e;
  --orange: #ff7e22;
  --cyan: #00e6e6;
  --acyan: #00b3b3;
  --bcyan: #00eecc;
  --blue: #287bff;
  --ablue: #536878;
  --bblue: #708090;
  --cblue: #536872;
  --pink: #ff00ff;
  --apink: #ff00cc;
  --bpink: #ff5782;
  --blue: #0080ff;
  --purp: #9b59b6;
  --apurp: #7380ec;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #ED1D24;

	--light1: rgba(80,139,200,0.23);
	--bshadow: 0 1.8rem 3rem var(--light1);
}


/* =======  GLOBAL STYLES  ======== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Blinker', sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
}



/* ========  SIDEBAR  ========= */

.sidebar {
  position: fixed;
  height: 100%;
  width: 70px;
  transition: 0.3s;
  overflow: hidden;
}

.sidebar.active {
  width: 290px;
}

.sidebar ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sidebar ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.sidebar ul li .iconify{
  color: white;
  font-weight: bold;
  font-size: 1.6em;
}

.sidebar ul li:hover,
.sidebar ul li.hovered {
  background: #fff;
}

.sidebar ul li:nth-child(1) {
  margin-top: 10px;
  margin-left: 1px;
  margin-bottom: 10px;
}
.sidebar ul li:nth-child(1):hover {
  background: transparent;
}

.precon {
  color: var(--cloud);
  font-size: 1.8rem;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.sufcon {
  color: var(--green);
  font-size: 1.8rem;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.sidebar ul li:nth-child(1) .icon {
  color:  var(--green);
  font-size: 1.2em;
  margin-top: 2px;
  margin-right: 7px;
}

.sidebar ul li:nth-child(2):hover .iconify {
  color:  var(--danger);
  font-weight: bold;
  margin-left: 5px;
  margin-top: 8px;
}

.sidebar ul li:nth-child(3):hover ion-icon{
  margin-top: 10px;
  margin-left: 5px;
  color:  var(--agreen);
  font-size: 1.8em;
  font-weight: bold;
}

.sidebar ul li:nth-child(4):hover ion-icon{
  margin-top: 10px;
  color:  var(--blue);
  font-size: 1.8em;
  font-weight: bold;
}

.sidebar ul li:nth-child(5) .iconify {
  color: var(--cloud);
  font-weight: bold;
}

.sidebar ul li:nth-child(5):hover .iconify {
  color: var(--blue);
  font-weight: bold;
  font-size: 1.8em;
  margin-top: 12px;
  margin-left: 5px;
}

.sidebar ul li:nth-child(6):hover svg{
  color: var(--orange);
  font-weight: bold;
  font-size: 2em;
  margin-top: 14px;
  margin-left: 5px;
}

.sidebar ul li:nth-child(7):hover .iconify {
  color: var(--orange);
  font-weight: bold;
  font-size: 2em;
  margin-top: 12px;
  margin-left: 5px;
}

.sidebar ul li:nth-child(8)  ion-icon{
  font-weight: bold;
  font-size: 2.2em;
}

.sidebar ul li:nth-child(8):hover ion-icon{
  color: var(--orange);
  font-weight: bold;
  font-size: 2.3em;
  margin-top: 10px;
}

.sidebar ul li:nth-child(9):hover .iconify{
  color: #000;
  font-weight: bold;
  color: var(--orange);
  font-size: 2em;
  margin-top: 12px;
  margin-left: 5px;
}

.sidebar ul li:nth-child(10):hover .iconify{
  color: var(--blue);
  font-weight: bold;
  font-size: 2em;
  margin-top: 12px;
  margin-left: 10px;
}

.sidebar ul li:nth-child(11):hover ion-icon{
  color: #000;
  font-weight: bold;
  font-size: 2em;
  margin-top: 12px;
  margin-left: 5px;
}

.sidebar ul li a {
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.sidebar ul li:hover a,
.sidebar ul li.hovered a {
  color: var(--blue);
}

.sidebar ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 76px;
  text-align: center;
}

.sidebar ul li a .icon ion-icon {
  font-size: 1.75em;
}

.sidebar ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  text-align: start;
}

.sidebar ul li:hover a::before,
.sidebar ul li.hovered a::before {
  content: '';
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px #fff;
  pointer-events: none;
}

.sidebar ul li:hover a::after,
.sidebar ul li.hovered a::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px #fff;
  pointer-events: none;
}

.sidebar ul li:nth-child(1):hover a::before,
.sidebar ul li:nth-child(1).hovered a::before,
.sidebar ul li:nth-child(1):hover a::after,
.sidebar ul li:nth-child(1).hovered a::after {
  background: transparent;
  box-shadow: 0px 0px 0 0px transparent;
}

.sidebar ul li:nth-child(1):hover ion-icon {
 transform:scale(1.2);
 }

 /* ===========  M A I N  ============ */

.main {
  position:absolute;
  width: calc(100% - 70px);
  left: 70px;
  min-height: 100vh;
  transition: 0.3s;
}


.main.active {
  width: calc(100% - 290px);
  left: 290px;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  width: 0px;
  position: absolute;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 2.5em;
};

.search{
  position: relative;
  margin: 10px 45px;
}

.search label {
  width: 800px;
  min-width: 800px;
  position: relative;
}

.search label input {
  width: 24em;
  height: 40px;
  transform: translateY(30%);
  border-radius: 40px;
  margin-top: -15px;
  padding: 5px 5px;
  outline: none;
  border: 1px solid #333;
  padding-left: 8rem;
  font-size: 18px;
  background-color: #FFF;
  box-shadow: 0px 0px 5px #888;
  align-items: center;
}

.search label ion-icon {
  position: absolute;
  top: 10px;
  left: 1.2em;
  font-size: 1.2em;
}

.user {
  position: relative;
  min-width:50px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.cardBox {
  position: relative;
  width: 100%;
  min-width: 100%;
  padding: 20px;
  display: inline-grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}

.cardBox .card{
  position: relative;
  background: var(--milkshake);
  padding: 30px;
  display: flex;
  border-right: 20px;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: var(--bshadow);
}

.cardBox .card:hover{
  transform: translateY(-5px);
  box-shadow: none;
  cursor: pointer;
}


.cardBox .card .numbers{
  position: relative;
  font-size: 2.5em;
  font-weight: 500;
  color: var(--blue);
  margin-bottom: 10px;
}

.cardBox .card .cardName{
  font-size: 1.1em;
  color: var(--primary);
  margin-top: 5px;
}

.cardBox .card .iconBx1{
  font-size: 4.2em;
  color: var(--bpink);
  margin-top: 5px;
}

.cardBox .card .iconBx2{
  font-size: 3.3em;
  color: var(--blue);
  margin-top: 5px;
}

.cardBox .card .iconBx3{
  font-size: 3.5em;
  color: var(--orange);
  margin-top: 5px;
}

.cardBox .card .iconBx4{
  font-size: 3.5em;
  color: var(--blue);
  margin-top: 5px;
}

.details{
  width: 100%;
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin-top: 10px;
}

.details .recentOrders{
  position: relative;
  display: grid;
  max-height: 500px;
  padding: 20px;
  background: #fff;
}

















