h1,ol,ul,li,button{margin:0;padding:0}
button{border:none;background:none}
body{background:#fff}
body,input,button{font-size:14px;font-family:arial,sans-serif;color:#202124}
a{color:#1a0dab;text-decoration:none}
a:hover,a:active{text-decoration:underline}
a:visited{color:#681da8}
html,body{min-width:400px}
body,html{height:100%;margin:0;padding:0}
.gb_1a:not(.gb_Hd){font:13px/27px Roboto,Arial,sans-serif;z-index:986}
@-webkit-keyframes gb__a{0%{opacity:0}
50%{opacity:1}
}
@keyframes gb__a{0%{opacity:0}
50%{opacity:1}
}
a.gb_W{border:none;color:#4285f4;cursor:default;font-weight:bold;outline:none;position:relative;text-align:center;text-decoration:none;text-transform:uppercase;white-space:nowrap;-webkit-user-select:none}
a.gb_W:hover:after,a.gb_W:focus:after{background-color:rgba(0,0,0,.12);content:"";height:100%;left:0;position:absolute;top:0;width:100%}
a.gb_W:hover,a.gb_W:focus{text-decoration:none}
a.gb_W:active{background-color:rgba(153,153,153,.4);text-decoration:none}
a.gb_X{background-color:#4285f4;color:#fff}
a.gb_X:active{background-color:#0043b2}
.gb_Z{-webkit-box-shadow:0 1px 1px rgba(0,0,0,.16);box-shadow:0 1px 1px rgba(0,0,0,.16)}
.gb_W,.gb_X,.gb_0,.gb_1{display:inline-block;line-height:28px;padding:0 12px;-webkit-border-radius:2px;border-radius:2px}
.gb_0{background:#f8f8f8;border:1px solid #c6c6c6}
.gb_1{background:#f8f8f8}
.gb_0,#gb a.gb_0.gb_0,.gb_1{color:#666;cursor:default;text-decoration:none}
#gb a.gb_1.gb_1{cursor:default;text-decoration:none}
.gb_1{border:1px solid #4285f4;font-weight:bold;outline:none;background:#4285f4;background:-webkit-linear-gradient(top,#4387fd,#4683ea);background:linear-gradient(top,#4387fd,#4683ea);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0)}
#gb a.gb_1.gb_1{color:#fff}
.gb_1:hover{-webkit-box-shadow:0 1px 0 rgba(0,0,0,.15);box-shadow:0 1px 0 rgba(0,0,0,.15)}
.gb_1:active{-webkit-box-shadow:inset 0 2px 0 rgba(0,0,0,.15);box-shadow:inset 0 2px 0 rgba(0,0,0,.15);background:#3c78dc;background:-webkit-linear-gradient(top,#3c7ae4,#3f76d3);background:linear-gradient(top,#3c7ae4,#3f76d3);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4,endColorstr=#3f76d3,GradientType=0)}
#gb .gb_3{background:#fff;border:1px solid #dadce0;color:#1a73e8;display:inline-block;text-decoration:none}
#gb .gb_3:hover{background:#f8fbff;border-color:#dadce0;color:#174ea6}
#gb .gb_3:focus{background:#f4f8ff;border-color:#174ea6;color:#174ea6}
#gb .gb_3:active,#gb .gb_3:focus:active{background:#ecf3fe;color:#174ea6}
#gb .gb_3.gb_4{background:transparent;border:1px solid #5f6368;color:#8ab4f8;text-decoration:none}
#gb .gb_3.gb_4:hover{background:rgba(255,255,255,.04);color:#e8eaed}
#gb .gb_3.gb_4:focus{background:rgba(232,234,237,.12);color:#e8eaed;outline:1px solid #e8eaed}
#gb .gb_3.gb_4:active,#gb .gb_3.gb_4:focus:active{background:rgba(232,234,237,.1);color:#e8eaed}
.gb_za{display:none!important}
.gb_Aa{visibility:hidden}
.gb_gd{display:inline-block;vertical-align:middle}
.gb_yf{position:relative}
.gb_A{display:inline-block;outline:none;vertical-align:middle;-webkit-border-radius:2px;border-radius:2px;-webkit-box-sizing:border-box;box-sizing:border-box;height:40px;width:40px;color:#000;cursor:pointer;text-decoration:none}
#gb#gb a.gb_A{color:#000;cursor:pointer;text-decoration:none}
.gb_3a{border-color:transparent;border-bottom-color:#fff;border-style:dashed dashed solid;border-width:0 8.5px 8.5px;display:none;position:absolute;left:11.5px;top:43px;z-index:1;height:0;width:0;-webkit-animation:gb__a .2s;animation:gb__a .2s}
.gb_4a{border-color:transparent;border-style:dashed dashed solid;border-width:0 8.5px 8.5px;display:none;position:absolute;left:11.5px;z-index:1;height:0;width:0;-webkit-animation:gb__a .2s;animation:gb__a .2s;border-bottom-color:#ccc;border-bottom-color:rgba(0,0,0,.2);top:42px}
x:-o-prefocus,div.gb_4a{border-bottom-color:#ccc}
.gb_C{background:#fff;border:1px solid #ccc;border-color:rgba(0,0,0,.2);color:#000;-webkit-box-shadow:0 2px 10px rgba(0,0,0,.2);box-shadow:0 2px 10px rgba(0,0,0,.2);display:none;outline:none;overflow:hidden;position:absolute;right:8px;top:62px;-webkit-animation:gb__a .2s;animation:gb__a .2s;-webkit-border-radius:2px;border-radius:2px;-webkit-user-select:text}
.gb_gd.gb_ka .gb_3a,.gb_gd.gb_ka .gb_4a,.gb_gd.gb_ka .gb_C,.gb_ka.gb_C{display:block}
.gb_gd.gb_ka.gb_zf .gb_3a,.gb_gd.gb_ka.gb_zf .gb_4a{display:none}
.gb_Af{position:absolute;right:8px;top:62px;z-index:-1}
.gb_Ia .gb_3a,.gb_Ia .gb_4a,.gb_Ia .gb_C{margin-top:-10px}
.gb_gd:first-child,#gbsfw:first-child+.gb_gd{padding-left:4px}
.gb_oa.gb_Qe .gb_gd:first-child{padding-left:0}
.gb_Re{position:relative}
.gb_Rc .gb_Re,.gb_Xd .gb_Re{float:right}
.gb_A{padding:8px;cursor:pointer}
.gb_oa .gb_8c:not(.gb_W):focus img{background-color:rgba(0,0,0,.20);outline:none;-webkit-border-radius:50%;border-radius:50%}
.gb_Se button svg,.gb_A{-webkit-border-radius:50%;border-radius:50%}
.gb_Se button:focus:not(:focus-visible) svg,.gb_Se button:hover svg,.gb_Se button:active svg,.gb_A:focus:not(:focus-visible),.gb_A:hover,.gb_A:active,.gb_A[aria-expanded=true]{outline:none}
.gb_Se button:focus-visible svg,.gb_A:focus-visible{outline:1px solid #202124}
.gb_Ac .gb_Se button:focus-visible svg,.gb_Ac .gb_A:focus-visible{outline:1px solid #f1f3f4}
.gb_Ac .gb_Se.gb_Te button:focus svg,.gb_Ac .gb_Se.gb_Te button:focus:hover svg,.gb_Se button:focus svg,.gb_Se button:focus:hover svg,.gb_A:focus,.gb_A:focus:hover{background-color:rgba(60,64,67,.1)}
.gb_Ac .gb_Se.gb_Te button:active svg,.gb_Se button:active svg,.gb_A:active{background-color:rgba(60,64,67,.12)}
.gb_Ac .gb_Se.gb_Te button:hover svg,.gb_Se button:hover svg,.gb_A:hover{background-color:rgba(60,64,67,.08)}
.gb_ia .gb_A.gb_La:hover{background-color:transparent}
.gb_A[aria-expanded=true],.gb_A:hover[aria-expanded=true]{background-color:rgba(95,99,104,.24)}
.gb_A[aria-expanded=true] .gb_Ue,.gb_A[aria-expanded=true] .gb_Ve{fill:#5f6368;opacity:1}
.gb_Ac .gb_Se button:hover svg,.gb_Ac .gb_A:hover{background-color:rgba(232,234,237,.08)}
.gb_Ac .gb_Se button:focus svg,.gb_Ac .gb_Se button:focus:hover svg,.gb_Ac .gb_A:focus,.gb_Ac .gb_A:focus:hover{background-color:rgba(232,234,237,.10)}
.gb_Ac .gb_Se button:active svg,.gb_Ac .gb_A:active{background-color:rgba(232,234,237,.12)}
.gb_Ac .gb_A[aria-expanded=true],.gb_Ac .gb_A:hover[aria-expanded=true]{background-color:rgba(255,255,255,.12)}
.gb_Ac .gb_A[aria-expanded=true] .gb_Ue,.gb_Ac .gb_A[aria-expanded=true] .gb_Ve{fill:#fff;opacity:1}
.gb_gd{padding:4px}
.gb_oa.gb_Qe .gb_gd{padding:4px 2px}
.gb_oa.gb_Qe .gb_Ma.gb_gd{padding-left:6px}
.gb_C{z-index:991;line-height:normal}
.gb_C.gb_We{left:8px;right:auto}
@media (max-width:350px){.gb_C.gb_We{left:0}
}
.gb_Xe .gb_C{top:56px}
.gb_z .gb_A,.gb_B .gb_z .gb_A{background-position:-64px -29px}
.gb_g .gb_z .gb_A{background-position:-29px -29px;opacity:1}
.gb_z .gb_A,.gb_z .gb_A:hover,.gb_z .gb_A:focus{opacity:1}
.gb_Id{display:none}
.gb_0c{font-family:Google Sans,Roboto,Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;letter-spacing:0.25px;line-height:48px;margin-bottom:2px;opacity:1;overflow:hidden;padding-left:16px;position:relative;text-overflow:ellipsis;vertical-align:middle;top:2px;white-space:nowrap;-webkit-flex:1 1 auto;flex:1 1 auto}
.gb_0c.gb_1c{color:#3c4043}
.gb_oa.gb_pa .gb_0c{margin-bottom:0}
.gb_2c.gb_3c .gb_0c{padding-left:4px}
.gb_oa.gb_pa .gb_4c{position:relative;top:-2px}
.gb_oa{color:black;min-width:320px;position:relative;-webkit-transition:box-shadow 250ms;transition:box-shadow 250ms}
.gb_oa.gb_Jc{min-width:240px}
.gb_oa.gb_Jd .gb_Kd{display:none}
.gb_oa.gb_Jd .gb_Ld{height:56px}
header.gb_oa{display:block}
.gb_oa svg{fill:currentColor}
.gb_Md{position:fixed;top:0;width:100%}
.gb_Nd{-webkit-box-shadow:0px 4px 5px 0px rgba(0,0,0,.14),0px 1px 10px 0px rgba(0,0,0,.12),0px 2px 4px -1px rgba(0,0,0,.2);box-shadow:0px 4px 5px 0px rgba(0,0,0,.14),0px 1px 10px 0px rgba(0,0,0,.12),0px 2px 4px -1px rgba(0,0,0,.2)}
.gb_Od{height:64px}
.gb_Ld{-webkit-box-sizing:border-box;box-sizing:border-box;position:relative;width:100%;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-pack:space-between;-webkit-justify-content:space-between;justify-content:space-between;min-width:-webkit-min-content;min-width:min-content}
.gb_oa:not(.gb_pa) .gb_Ld{padding:8px}
.gb_oa.gb_Pd .gb_Ld{-webkit-flex:1 0 auto;flex:1 0 auto}
.gb_oa .gb_Ld.gb_Qd.gb_Rd{min-width:0}
.gb_oa.gb_pa .gb_Ld{padding:4px;padding-left:8px;min-width:0}
.gb_Kd{height:48px;vertical-align:middle;white-space:nowrap;-webkit-box-align:center;-webkit-align-items:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-user-select:none}
.gb_Td>.gb_Kd{display:table-cell;width:100%}
.gb_2c{padding-right:30px;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-flex:1 0 auto;flex:1 0 auto}
.gb_oa.gb_pa .gb_2c{padding-right:14px}
.gb_Ud{-webkit-flex:1 1 100%;flex:1 1 100%}
.gb_Ud>:only-child{display:inline-block}
.gb_Vd.gb_Sc{padding-left:4px}
.gb_Vd.gb_Wd,.gb_oa.gb_Pd .gb_Vd,.gb_oa.gb_pa:not(.gb_Xd) .gb_Vd{padding-left:0}
.gb_oa.gb_pa .gb_Vd.gb_Wd{padding-right:0}
.gb_oa.gb_pa .gb_Vd.gb_Wd .gb_ia{margin-left:10px}
.gb_Sc{display:inline}
.gb_oa.gb_Mc .gb_Vd.gb_Zd,.gb_oa.gb_Xd .gb_Vd.gb_Zd{padding-left:2px}
.gb_0c{display:inline-block}
.gb_Vd{-webkit-box-sizing:border-box;box-sizing:border-box;height:48px;line-height:normal;padding:0 4px;padding-left:30px;-webkit-flex:0 0 auto;flex:0 0 auto;-webkit-box-pack:flex-end;-webkit-justify-content:flex-end;justify-content:flex-end}
.gb_Xd{height:48px}
.gb_oa.gb_Xd{min-width:initial;min-width:auto}
.gb_Xd .gb_Vd{float:right;padding-left:32px}
.gb_Xd .gb_Vd.gb_0d{padding-left:0}
.gb_1d{font-size:14px;max-width:200px;overflow:hidden;padding:0 12px;text-overflow:ellipsis;white-space:nowrap;-webkit-user-select:text}
.gb_2d{-webkit-transition:background-color .4s;transition:background-color .4s}
.gb_3d{color:black}
.gb_Ac{color:white}
.gb_oa a,.gb_Fc a{color:inherit}
.gb_q{color:rgba(0,0,0,.87)}
.gb_oa svg,.gb_Fc svg,.gb_2c .gb_4d,.gb_Rc .gb_4d{color:#5f6368;opacity:1}
.gb_Ac svg,.gb_Fc.gb_Kc svg,.gb_Ac .gb_2c .gb_4d,.gb_Ac .gb_2c .gb_zc,.gb_Ac .gb_2c .gb_4c,.gb_Fc.gb_Kc .gb_4d{color:rgba(255,255,255,0.87)}
.gb_Ac .gb_2c .gb_yc:not(.gb_5d){opacity:0.87}
.gb_1c{color:inherit;opacity:1;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased}
.gb_Ac .gb_1c,.gb_3d .gb_1c{opacity:1}
.gb_6d{position:relative}
.gb_7d{font-family:arial,sans-serif;line-height:normal;padding-right:15px}
a.gb_d,span.gb_d{color:rgba(0,0,0,.87);text-decoration:none}
.gb_Ac a.gb_d,.gb_Ac span.gb_d{color:white}
a.gb_d:focus{outline-offset:2px}
a.gb_d:hover{text-decoration:underline}
.gb_e{display:inline-block;padding-left:15px}
.gb_e .gb_d{display:inline-block;line-height:24px;vertical-align:middle}
.gb_8d{font-family:Google Sans,Roboto,Helvetica,Arial,sans-serif;font-weight:500;font-size:14px;letter-spacing:0.25px;line-height:16px;margin-left:10px;margin-right:8px;min-width:96px;padding:9px 23px;text-align:center;vertical-align:middle;-webkit-border-radius:4px;border-radius:4px;-webkit-box-sizing:border-box;box-sizing:border-box}
.gb_oa.gb_Xd .gb_8d{margin-left:8px}
#gb a.gb_1.gb_1.gb_8d{cursor:pointer}
.gb_1.gb_8d:hover{background:#2b7de9;-webkit-box-shadow:0 1px 2px 0 rgba(66,133,244,.3),0 1px 3px 1px rgba(66,133,244,.15);box-shadow:0 1px 2px 0 rgba(66,133,244,.3),0 1px 3px 1px rgba(66,133,244,.15)}
.gb_1.gb_8d:focus,.gb_1.gb_8d:hover:focus{background:#5094ed;-webkit-box-shadow:0 1px 2px 0 rgba(66,133,244,.3),0 1px 3px 1px rgba(66,133,244,.15);box-shadow:0 1px 2px 0 rgba(66,133,244,.3),0 1px 3px 1px rgba(66,133,244,.15)}
.gb_1.gb_8d:active{background:#63a0ef;-webkit-box-shadow:0 1px 2px 0 rgba(66,133,244,.3),0 1px 3px 1px rgba(66,133,244,.15);box-shadow:0 1px 2px 0 rgba(66,133,244,.3),0 1px 3px 1px rgba(66,133,244,.15)}
.gb_8d{background:#1a73e8;border:1px solid transparent}
.gb_oa.gb_pa .gb_8d{padding:9px 15px;min-width:80px}
.gb_9d{text-align:left}
#gb .gb_Ac a.gb_8d:not(.gb_4),#gb.gb_Ac a.gb_8d{background:#fff;border-color:#dadce0;-webkit-box-shadow:none;box-shadow:none;color:#1a73e8}
#gb a.gb_1.gb_4.gb_8d{background:#8ab4f8;border:1px solid transparent;-webkit-box-shadow:none;box-shadow:none;color:#202124}
#gb .gb_Ac a.gb_8d:hover:not(.gb_4),#gb.gb_Ac a.gb_8d:hover{background:#f8fbff;border-color:#cce0fc}
#gb a.gb_1.gb_4.gb_8d:hover:not(.gb_4){background:#93baf9;border-color:transparent;-webkit-box-shadow:0 1px 3px 1px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.3);box-shadow:0 1px 3px 1px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.3)}
#gb .gb_Ac a.gb_8d:focus:not(.gb_4),#gb .gb_Ac a.gb_8d:focus:hover:not(.gb_4),#gb.gb_Ac a.gb_8d:focus:not(.gb_4),#gb.gb_Ac a.gb_8d:focus:hover:not(.gb_4){background:#f4f8ff;outline:1px solid #c9ddfc}
#gb a.gb_1.gb_4.gb_8d:focus,#gb a.gb_1.gb_4.gb_8d:focus:hover{background:#a6c6fa;border-color:transparent;-webkit-box-shadow:none;box-shadow:none}
#gb .gb_Ac a.gb_8d:active:not(.gb_4),#gb.gb_Ac a.gb_8d:active{background:#ecf3fe}
#gb a.gb_1.gb_4.gb_8d:active{background:#a1c3f9;-webkit-box-shadow:0 1px 2px rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);box-shadow:0 1px 2px rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15)}
.gb_ia{background-color:rgba(255,255,255,.88);border:1px solid #dadce0;-webkit-box-sizing:border-box;box-sizing:border-box;cursor:pointer;display:inline-block;max-height:48px;overflow:hidden;outline:none;padding:0;vertical-align:middle;width:134px;-webkit-border-radius:8px;border-radius:8px}
.gb_ia.gb_4{background-color:transparent;border:1px solid #5f6368}
.gb_ja{display:inherit}
.gb_ia.gb_4 .gb_ja{background:#fff;-webkit-border-radius:4px;border-radius:4px;display:inline-block;left:8px;margin-right:5px;position:relative;padding:3px;top:-1px}
.gb_ia:hover{border:1px solid #d2e3fc;background-color:rgba(248,250,255,.88)}
.gb_ia.gb_4:hover{background-color:rgba(241,243,244,.04);border:1px solid #5f6368}
.gb_ia:focus{background-color:rgba(255,255,255);border:1px solid #fff;-webkit-box-shadow:0px 1px 2px 0px rgba(60,64,67,.3),0px 1px 3px 1px rgba(60,64,67,.15);box-shadow:0px 1px 2px 0px rgba(60,64,67,.3),0px 1px 3px 1px rgba(60,64,67,.15)}
.gb_ia.gb_4:focus{background-color:rgba(241,243,244,.12);border:1px solid #f1f3f4;-webkit-box-shadow:0 1px 3px 1px rgba(0,0,0,.15),0 1px 2px 0 rgba(0,0,0,.3);box-shadow:0 1px 3px 1px rgba(0,0,0,.15),0 1px 2px 0 rgba(0,0,0,.3)}
.gb_ia.gb_4:active,.gb_ia.gb_ka.gb_4:focus{background-color:rgba(241,243,244,.1);border:1px solid #5f6368}
.gb_la{display:inline-block;padding-bottom:2px;padding-left:7px;padding-top:2px;text-align:center;vertical-align:middle;line-height:32px;width:78px}
.gb_ia.gb_4 .gb_la{line-height:26px;margin-left:0;padding-bottom:0;padding-left:0;padding-top:0;width:72px}
.gb_la.gb_ma{background-color:#f1f3f4;-webkit-border-radius:4px;border-radius:4px;margin-left:8px;padding-left:0}
.gb_la.gb_ma .gb_na{vertical-align:middle}
.gb_oa:not(.gb_pa) .gb_ia{margin-left:10px;margin-right:4px}
.gb_qa{max-height:32px;width:78px}
.gb_ia.gb_4 .gb_qa{max-height:26px;width:72px}
.gb_Ba{-webkit-background-size:32px 32px;background-size:32px 32px;border:0;-webkit-border-radius:50%;border-radius:50%;display:block;margin:0px;position:relative;height:32px;width:32px;z-index:0}
.gb_Ca{background-color:#e8f0fe;border:1px solid rgba(32,33,36,.08);position:relative}
.gb_Ca.gb_Ba{height:30px;width:30px}
.gb_Ca.gb_Ba:hover,.gb_Ca.gb_Ba:active{-webkit-box-shadow:none;box-shadow:none}
.gb_Da{background:#fff;border:none;-webkit-border-radius:50%;border-radius:50%;bottom:2px;-webkit-box-shadow:0px 1px 2px 0px rgba(60,64,67,.30),0px 1px 3px 1px rgba(60,64,67,.15);box-shadow:0px 1px 2px 0px rgba(60,64,67,.30),0px 1px 3px 1px rgba(60,64,67,.15);height:14px;margin:2px;position:absolute;right:0;width:14px}
.gb_Ea{color:#1f71e7;font:400 22px/32px Google Sans,Roboto,Helvetica,Arial,sans-serif;text-align:center;text-transform:uppercase}
@media (min-resolution:1.25dppx),(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25){.gb_Ba::before,.gb_Fa::before{display:inline-block;-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:left 0;transform-origin:left 0}
.gb_i .gb_Fa::before{-webkit-transform:scale(0.416666667);transform:scale(0.416666667)}
}
.gb_Ba:hover,.gb_Ba:focus{-webkit-box-shadow:0 1px 0 rgba(0,0,0,.15);box-shadow:0 1px 0 rgba(0,0,0,.15)}
.gb_Ba:active{-webkit-box-shadow:inset 0 2px 0 rgba(0,0,0,.15);box-shadow:inset 0 2px 0 rgba(0,0,0,.15)}
.gb_Ba:active::after{background:rgba(0,0,0,.1);-webkit-border-radius:50%;border-radius:50%;content:"";display:block;height:100%}
.gb_Ha{cursor:pointer;line-height:40px;min-width:30px;opacity:.75;overflow:hidden;vertical-align:middle;text-overflow:ellipsis}
.gb_A.gb_Ha{width:auto}
.gb_Ha:hover,.gb_Ha:focus{opacity:.85}
.gb_Ia .gb_Ha,.gb_Ia .gb_Ja{line-height:26px}
#gb#gb.gb_Ia a.gb_Ha,.gb_Ia .gb_Ja{font-size:11px;height:auto}
.gb_Ka{border-top:4px solid #000;border-left:4px dashed transparent;border-right:4px dashed transparent;display:inline-block;margin-left:6px;opacity:.75;vertical-align:middle}
.gb_La:hover .gb_Ka{opacity:.85}
.gb_ia>.gb_Ma{padding:3px 3px 3px 4px}
.gb_Na.gb_Aa{color:#fff}
.gb_Ba.gb_Oa{clip-path:path('M16 0C24.8366 0 32 7.16344 32 16C32 16.4964 31.9774 16.9875 31.9332 17.4723C30.5166 16.5411 28.8215 16 27 16C22.0294 16 18 20.0294 18 25C18 27.4671 18.9927 29.7024 20.6004 31.3282C19.1443 31.7653 17.5996 32 16 32C7.16344 32 0 24.8366 0 16C0 7.16344 7.16344 0 16 0Z')}
.gb_Pa{-webkit-border-radius:50%;border-radius:50%;-webkit-box-shadow:0px 1px 2px 0px rgba(60,64,67,.30),0px 1px 3px 1px rgba(60,64,67,.15);box-shadow:0px 1px 2px 0px rgba(60,64,67,.30),0px 1px 3px 1px rgba(60,64,67,.15);margin:2px}
.gb_Qa{fill:#f9ab00}
.gb_4 .gb_Qa{fill:#fdd663}
.gb_Ra>.gb_Qa{fill:#d93025}
.gb_4 .gb_Ra>.gb_Qa{fill:#f28b82}
.gb_Ra>.gb_Sa{fill:white}
.gb_Sa,.gb_4 .gb_Ra>.gb_Sa{fill:#202124}
.gb_Ta{-webkit-border-radius:50%;border-radius:50%;bottom:2px;height:18px;position:absolute;right:0px;width:18px}
.gb_g .gb_Ha,.gb_g .gb_Ka{opacity:1}
#gb#gb.gb_g.gb_g a.gb_Ha,#gb#gb .gb_g.gb_g a.gb_Ha{color:#fff}
.gb_g.gb_g .gb_Ka{border-top-color:#fff;opacity:1}
.gb_B .gb_Ba:hover,.gb_g .gb_Ba:hover,.gb_B .gb_Ba:focus,.gb_g .gb_Ba:focus{-webkit-box-shadow:0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2)}
.gb_Ua .gb_Ma,.gb_Va .gb_Ma{position:absolute;right:1px}
.gb_Ma.gb_f,.gb_Wa.gb_f,.gb_La.gb_f{-webkit-flex:0 1 auto;flex:0 1 auto;-webkit-flex:0 1 main-size;flex:0 1 main-size}
.gb_Xa.gb_Za .gb_Ha{width:30px!important}
.gb_0a{height:40px;position:absolute;right:-5px;top:-5px;width:40px}
.gb_1a .gb_0a,.gb_2a .gb_0a{right:0;top:0}
.gb_Ma .gb_A{padding:4px}
.gb_be{display:none}
sentinel{}
.z1asCe{display:inline-block;fill:currentColor;height:24px;line-height:24px;position:relative;width:24px}
.z1asCe svg{display:block;height:100%;width:100%}

